body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content:space-between;  /* Aligns items on the main axis */
}

ul {
    flex: 1; /* flex-grow:1 (item can grow to fill extra space in the container); flex-shrink:1 (item can shrink if the container is too small); 
    flex-basis:0%; () */
    /* width: 500px; */
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;  /* Removes the bullet points */

}


ul,li {
    
    margin: 0;
    padding: 0;

}

@media (max-width: 768px) {
    
    nav, nav ul { 
        flex-direction: column;
        align-items: center;

    }

    h1{
        font-size: 4em;
        color: green;
    }
    
}
 
@media (max-width: 576px) {
    h1{
        font-size: 3em;
        color: red;
    }
}




    


